.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ==== Grid ==== */
.grid {
  display: grid;
  grid-template-areas: 
    " t1  view  t2 "
    " wip  view  done " ;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 6fr;
  place-items: center;
  background-color: aliceblue;
  outline: 2px solid orangered
}

.task {
   height: 50px;
   width: 75px;
  font-size: 1.0em;
  margin-top: 10px;
  background-color: yellowgreen;
  outline: 2px solid white;
}

.column {
  height: 300px;
  width: 100px;
  display: grid;
  place-content: center;
  background-color: cyan;
}

.title {
  font-size: 1.0em;
  color: tomato;
}

.draggable {
  height: 50px;
  width: 50px;
  font-size: 3em;
  background-color: tomato;
  outline: 2px solid white;
}

#t1 {
  /* display: grid; */
  grid-area: t1;
  height: 3em;
}

#wip {
  grid-area: wip;

}

#view {
  grid-area: view;
}

#done {
  grid-area: done;
}

#drop {
  grid-area: B;
  background-color: lightgrey;
   height: 100px;
   width: 675px;
}
