.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ==== Grid ==== */
.grid {
  display: grid;
  grid-template-areas: "wip view done" ;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background-color: aliceblue;
  height: 500px;
  outline: 2px solid orangered

}

.box {
  height: 100px;
  width: 75px;
  font-size: 3em;
  background-color: yellowgreen;
  outline: 2px solid white;
}

.column {
  width: 200px;
  display: grid;
  place-content: center;
  background-color: cyan;
}

.title {
  font-size: 2em;
  color: tomato;
  height: 2em;
}
.draggable {
  height: 100px;
  width: 75px;
  font-size: 3em;
  background-color: tomato;
  outline: 2px solid white;
}

#wip {
  grid-area: wip;

}

#view {
  grid-area: view;
}

#done {
  grid-area: done;
}

#drop {
  grid-area: B;
  background-color: lightgrey;
   height: 100px;
   width: 675px;
}
